<ul>

<!-- list all pages -->
{% assign categories = site.pages | sort: 'title' | group_by: 'dir' %}

<!-- resources -->
{% for cat in categories %}
    {% if cat.name == "/resources/" %}
        {% assign name = cat.name | remove: '/' %}

        {% for p in cat.items %}
            {% if p.name == "index.md" %}
                <li class="tag-h1"><a href="{{ p.url }}">{{ p.title }}</a></li>
                {% break %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}

<br>

<!-- young world -->
{% for cat in categories %}
    {% if cat.name contains "/young-world-" %}
        {% assign name = cat.name | remove: '/' %}

        {% for p in cat.items %}
            {% if p.name == "index.md" %}
                <li class="tag-h1"><a href="{{ p.url }}">{{ p.title }}</a></li>
                {% break %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}

<!-- open world -->
{% for cat in categories %}
    {% if cat.name contains "/open-world-" %}
        {% assign name = cat.name | remove: '/' %}

        {% for p in cat.items %}
            {% if p.name == "index.md" %}
                <li class="tag-h1"><a href="{{ p.url }}">{{ p.title }}</a></li>
                {% break %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}

<!-- other categories -->
{% for cat in categories %}
    {% if cat.name contains "/young-world-" or cat.name contains "/open-world-" %}
        {% continue %}
    {% endif %}
    
    {% if cat.name != "/" and cat.name != "/assets/css/" and cat.name != "/resources/" %}
        {% assign name = cat.name | remove: '/' %}

        {% for p in cat.items %}
            {% if p.name == "index.md" %}
                <li class="tag-h1"><a href="{{ p.url }}">{{ p.title }}</a></li>
                {% break %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}

<br>

<!-- links without a category (with no categories) -->
{% for cat in categories %}
    {% if cat.name == "/" %}
        {% assign items = cat.items | sort: 'url' %}
        {% for p in items %}
            {% if p.url == "/" or p.url == "/support.html" %}
            {% else %}
                <li class="tag-h1"><a href="{{ p.url | remove: '.html' }}">{{ p.title }}</a></li>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}

</ul>
